In [46]:
import pandas as pd
import io
import matplotlib.pyplot as mtb
import numpy as np

In [47]:
##gender_data = pd.read_csv("/Users/pavnigairola/Desktop/Titanic Data/gender_submission.csv")
netflix_df = pd.read_csv("/Users/pavnigairola/Desktop/Netflix/netflix_titles.csv", encoding = "ISO-8859-1")
print(netflix_df)

     show_id     type                                    title  \
0         s1  TV Show                                       3%
1         s2    Movie                                     7:19
2         s3    Movie                                    23:59
3         s4    Movie                                        9
4         s5    Movie                                       21
...      ...      ...                                      ...
7782   s7783    Movie                                     Zozo
7783   s7784    Movie                                   Zubaan
7784   s7785    Movie                        Zulu Man in Japan
7785   s7786  TV Show                    Zumbo's Just Desserts
7786   s7787    Movie  ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS

               director                                               cast  \
0                   NaN  JoÌ£o Miguel, Bianca Comparato, Michel Gomes, ...
1     Jorge Michel Grau  DemiÌÁn Bichir, HÌ©ctor Bonilla, Oscar Serrano...
2          Gilbert Chan  Tedd Chan, Stella Chung, Henley Hii, Lawrence ...
3           Shane Acker  Elijah Wood, John C. Reilly, Jennifer Connelly...
4        Robert Luketic  Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...
...                 ...                                                ...
7782        Josef Fares  Imad Creidi, Antoinette Turk, Elias Gergi, Car...
7783        Mozez Singh  Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...
7784                NaN                                            Nasty C
7785                NaN                         Adriano Zumbo, Rachel Khoo
7786           Sam Dunn                                                NaN

                                                country          date_added  \
0                                                Brazil     August 14, 2020
1                                                Mexico   December 23, 2016
2                                             Singapore   December 20, 2018
3                                         United States   November 16, 2017
4                                         United States     January 1, 2020
...                                                 ...                 ...
7782  Sweden, Czech Republic, United Kingdom, Denmar...    October 19, 2020
7783                                              India       March 2, 2019
7784                                                NaN  September 25, 2020
7785                                          Australia    October 31, 2020
7786              United Kingdom, Canada, United States       March 1, 2020

      release_year rating   duration  \
0             2020  TV-MA  4 Seasons
1             2016  TV-MA     93 min
2             2011      R     78 min
3             2009  PG-13     80 min
4             2008  PG-13    123 min
...            ...    ...        ...
7782          2005  TV-MA     99 min
7783          2015  TV-14    111 min
7784          2019  TV-MA     44 min
7785          2019  TV-PG   1 Season
7786          2019  TV-MA     90 min

                                              listed_in  \
0     International TV Shows, TV Dramas, TV Sci-Fi &...
1                          Dramas, International Movies
2                   Horror Movies, International Movies
3     Action & Adventure, Independent Movies, Sci-Fi...
4                                                Dramas
...                                                 ...
7782                       Dramas, International Movies
7783     Dramas, International Movies, Music & Musicals
7784  Documentaries, International Movies, Music & M...
7785                 International TV Shows, Reality TV
7786                    Documentaries, Music & Musicals

                                            description
0     In a future where the elite inhabit an island ...
1     After a devastating earthquake hits Mexico Cit...
2     When an army recruit is found dead, his fellow...
3     In a postapocalyptic world, rag-doll robots hi...
4     A brilliant group of students become card-coun...
...                                                 ...
7782  When Lebanon's Civil War deprives Zozo of his ...
7783  A scrappy but poor boy worms his way into a ty...
7784  In this documentary, South African rapper Nast...
7785  Dessert wizard Adriano Zumbo looks for the nex...
7786  This documentary delves into the mystique behi...

[7787 rows x 12 columns]

In [59]:
netflix_df.describe()

       release_year
count   7787.000000
mean    2013.932580
std        8.757395
min     1925.000000
25%     2013.000000
50%     2017.000000
75%     2018.000000
max     2021.000000

In [60]:
#Cleaning The Data
netflix_df.isnull().sum()

show_id           0
type              0
title             0
country         507
date_added       10
release_year      0
rating            7
duration          0
listed_in         0
description       0
dtype: int64

In [63]:
#not related to our analysis
netflix_df.drop(['director'], axis=1, inplace=True)
netflix_df.drop(['data_added'], axis-1, inplace= True)
netflix_df['country'].replace(np.nan, 'United states', inplace = True )
print('netflix_df')

KeyError: "['director'] not found in axis"

In [54]:
netflix_df['rating'].replace(np.nan,'TV-MA',inplace = TRUE)

NameError: name 'TRUE' is not defined

In [55]:
netflix_df.head()

,show_id,type,title,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s2,Movie,7:19,Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...

In [43]:
#Exploratory Data Analysis
#Analyzing the data
## Q1) In 2019, netflix released more TV show or movies?

In [56]:
#Filter cleaned DF for only movies

movies = netflix_df[neflix_df['type'] == 'Movie']

movies.count()

NameError: name 'neflix_df' is not defined

In [57]:
genres = []
for i in range(len(films.index)):
    x = films.iloc[i, 10].split(',')
    for j in range(len(x)):
        if x[j].strip() not in genres:
            genres.append(x[j].strip())
        else:
            continue

NameError: name 'films' is not defined

In [1]:
import pandas as pd
import numpy as np

In [2]:
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
%matplotlib inline

In [4]:
df = pd.read_csv('Netflix')

ParserError: Error tokenizing data. C error: Expected 1 fields in line 4, saw 2